<!DOCTYPE html>
<html lang="en">

<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
  <link rel="stylesheet" href="https://bootswatch.com/4/slate/bootstrap.min.css">
  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>

<body>

  <div class="container">
    <div class="d-flex justify-content-center">
      <div class="card col-sm-11">
        <div class="card-body">
          <form>
            <fieldset>
              <legend class="text-center lead">Host Address</legend>
              <div class="form-group row">
                <label for="hostip">IP</label>
                <input type="text" class="form-control col-sm-12" name="hostip" id="hostip">
              </div>
            </fieldset>
            <fieldset>
              <legend class="text-center lead">Host Details</legend>
              <div class="form-group row">
                <label for="hostname">Host Name</label>
                <input type="text" class="form-control col-sm-12" id="hostname">
              </div>
              <div class="form-group row">
                <label for="provider">Provider</label>
                <input type="text" class="form-control col-sm-12" id="provider">
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <br><br>
    <div class="d-flex justify-content-around card-group">
      <div class="card col-sm-5 h-100">
        <div class="card-body ">
          <form>
            <fieldset>
              <legend class="text-center lead">Secured Proxy</legend>
              <div class="form-group row">
                <label for="secure_ip_text" class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="secure_ip" onclick="myFunction()">
                  <label for="secure_ip" class="custom-control-label">Specify Secured Proxy IP</label>
                </label>
                <input type="text" class="form-control col-sm-12" id="secure_ip_text" placeholder="192.x.x.x:port"
                  disabled="true">
              </div>
            </fieldset>
            <fieldset>
              <legend class="text-center lead">Add/Remove Ports</legend>
              <div class="form-group row dropdown d-flex justify-content-end">
                <button id="data-toggle-2" type="button" class="oi oi-plus btn btn-outline-success"
                  data-toggle="dropdown"></button>
                <div class="dropdown-menu">
                  <div class="container">
                    <input class="form-control dropdown-item" placeholder="Enter Port Number" type="text"
                      id="text_secure_port">
                    <input type="button" class="dropdown-item btn text-center btn-primary" value="Add"
                      onclick="addSecuredPort()">
                  </div>
                </div>
                <button type="button" class="oi oi-minus btn btn-outline-danger" onclick="removeSecuredPort()"></button>
              </div>
              <div class="form-group row">
                <select id="secure_port_list" multiple class="form-control bg-dark">
                  <option class="list-group-item text-white bg-dark" disabled>Secure Ports</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
      <div class="card col-sm-5 h-100">
        <div class="card-body ">
          <form>
            <fieldset>
              <legend class="text-center lead">Unsecured Proxy</legend>
              <div class="form-group row">
                <label for="unsecure_ip_text" class="custom-control custom-checkbox">
                  <input type="checkbox" class="custom-control-input" id="unsecure_ip" onclick="myFunction1()">
                  <label for="unsecure_ip" class="custom-control-label">Specify Unsecured Proxy IP</label>
                </label>
                <input type="text" class="form-control col-sm-12" id="unsecure_ip_text" placeholder="192.x.x.x:port"
                  disabled="true">
              </div>
            </fieldset>
            <fieldset>
              <legend class="text-center lead">Add/Remove Ports</legend>
              <div class="form-group row dropdown d-flex justify-content-end">
                <button id="data-toggle-1" type="button" class="oi oi-plus btn btn-outline-success"
                  data-toggle="dropdown"></button>
                <div class="dropdown-menu">
                  <div class="container">
                    <input class="form-control dropdown-item" placeholder="Enter Port Number" type="text"
                      id="text_open_port">
                    <input type="button" class="dropdown-item btn text-center btn-primary" value="Add"
                      onclick="addOpenPort()">
                  </div>
                </div>
                <button type="button" class="oi oi-minus btn btn-outline-danger" onclick="removeOpenPort()"></button>
              </div>
              <div class="form-group row">
                <select id="open_port_list" multiple class="form-control bg-dark">
                  <option class="list-group-item text-white bg-dark" disabled>Open Ports</option>
                </select>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
    <br><br>
    <div class="row d-flex justify-content-center">
      <a class="btn btn-primary col-sm-12" href="javascript:saveData()">Save</a>
    </div>
  </div>

</body>

</html>