<!DOCTYPE html>
<html lang="en">

<head>
  <title>Port Scanner</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

  <link rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
    integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />
  <!-- <style>
.invalid {
    color: red;
}
  </style> -->
</head>

<body>
  <nav class="navbar navbar-expand-md bg-dark navbar-dark fixed-top">
    <a class="navbar-brand" href="#">Port Scanner</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar1">
      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a class="nav-link" href="javascript:load_Settings()"><span class="oi oi-cog"></span> Settings </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}"><span class="oi oi-account-logout"></span> Log Out </a>
        </li>
      </ul>
    </div>
  </nav>

  <div class="container">
    <nav class="navbar navbar-expand-md bg-dark navbar-dark" style="margin-top: 70px">
      <a class="navbar-brand" href="#">Port Scanner</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar2">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="collapsibleNavbar2">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link text-primary" href="#"><span class="oi oi-dashboard"></span> View Dashboard</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-danger" href="#"><span class="oi oi-warning"></span> Alerts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="#"><span class="oi oi-document"></span> Report</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-primary" href="javascript:loadAllHost()"><span class="oi oi-list"></span> View All
              Host</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-success" href="javascript:loadAddHost()"><span class="oi oi-plus"></span> Add
              Host</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#"><span class="oi oi-question-mark"></span> Help</a>
          </li>
        </ul>
      </div>
    </nav>
  </div>

  <div id="results" class="container col-sm-12" style="padding : 2%;"></div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script>
    function addNewSettings() {
      var checkBox = document.getElementById("secure_ip_settings");
      if (checkBox.checked == false) {
        alert("Please Select the Secure IP")
        return;
      }
      else {
        var text1 = document.getElementById("secure_ip_text_settings").value;
      }
      var checkBox1 = document.getElementById("unsecure_ip_settings");
      if (checkBox1.checked == false) {
        alert("Please Select the Unsecure IP")
        return;
      }
      else {
        var text2 = document.getElementById("unsecure_ip_text_settings").value;
      }
      console.log(document.URL);

      $.ajax({
        type: "GET",
        url: document.URL + "/new_setting/",
        data: {
          'secure_ip-port': text1,
          'unsecure_ip-port': text2
        },
        dataType: 'html',
        success: function (data) {
          if (data) {
            console.log(document.URL);
            $("#results").html('<div class="container">\
                <div class="alert alert-success alert-dismissible">\
                <button type="button" class="close" data-dismiss="alert">&times;</button>\
                <strong>Success</strong> Settings saved.\
                </div></div>');
          }
          else {
            console.log("failed");
          }
        }
      });
    };

    function loadAllHost() {

      $.ajax({
        type: "GET",
        url: document.URL + "/allhost/",
        dataType: 'html',
        success: function (data) {
          if (data) {
            console.log(document.URL);
            $("#results").html(data);
          }
          else {
            console.log("failed");
          }
        }
      });
    };

    function load_Settings() {

      $.ajax({
        type: "GET",
        url: document.URL + "/settings/",
        dataType: 'html',
        success: function (data) {
          if (data) {
            console.log(document.URL);
            $("#results").html(data);
          }
          else {
            console.log("failed");
          }
        }
      });
    };

    function loadAddHost() {

      $.ajax({
        type: "GET",
        url: document.URL + "/addhost/",
        dataType: 'html',
        success: function (data) {
          if (data) {
            console.log(document.URL);
            $("#results").html(data);
            $('#data-toggle-1').dropdown();
            $('#data-toggle-2').dropdown();
          }
          else {
            console.log("failed");
          }
        }
      });
    };

    function myFunction() {
      var checkBox = document.getElementById("secure_ip");
      var text = document.getElementById("secure_ip_text");
      if (checkBox.checked == true) {
        text.disabled = false;
      } else {
        text.disabled = true;
      }
    };
    function myFunction1() {
      var checkBox = document.getElementById("unsecure_ip");
      var text = document.getElementById("unsecure_ip_text");
      if (checkBox.checked == true) {
        text.disabled = false;
      } else {
        text.disabled = true;
      }
    };
    function myFunctionSettings() {
      var checkBox = document.getElementById("secure_ip_settings");
      var text = document.getElementById("secure_ip_text_settings");
      if (checkBox.checked == true) {
        text.disabled = false;
      } else {
        text.disabled = true;
      }
    };
    function myFunctionSettings1() {
      var checkBox = document.getElementById("unsecure_ip_settings");
      var text = document.getElementById("unsecure_ip_text_settings");
      if (checkBox.checked == true) {
        text.disabled = false;
      } else {
        text.disabled = true;
      }
    };

    function inaccessible() {
      var checkBox = document.getElementById("inaccessible");
      var text = document.getElementById("inaccessible_text");
      var select_box = document.getElementById("inaccessible_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
      }
    };

    function addOpenPort() {
      var port = document.getElementById("text_open_port").value;
      document.getElementById("text_open_port").value = "";
      if (port.length > 0) {
        var value1 = parseInt(port, 10);
        if (value1 > 0 && value1 <= 65536) {
          // console.log(value1);
          var node = document.createElement("OPTION");
          node.className = "list-group-item small";
          node.appendChild(document.createTextNode(value1));
          document.getElementById("open_port_list").appendChild(node);
        }
        else {
          alert("Wrong Port Number");
        }
      }
      else {
        alert("Port Number can't be Null");
      }
    };

    function addSecuredPort() {
      var port = document.getElementById("text_secure_port").value;
      document.getElementById("text_secure_port").value = "";
      if (port.length > 0) {
        var value1 = parseInt(port, 10);
        if (value1 > 0 && value1 <= 65536) {
          // console.log(value1);
          var node = document.createElement("OPTION");
          node.className = "list-group-item small";
          node.appendChild(document.createTextNode(value1));
          document.getElementById("secure_port_list").appendChild(node);
        }
        else {
          alert("Wrong Port Number");
        }
      }
      else {
        alert("Port Number can't be Null");
      }
    };

    function removeOpenPort() {
      var x = document.getElementById("open_port_list");
      x.remove(x.selectedIndex);
    }

    function removeSecuredPort() {
      var y = document.getElementById("secure_port_list");
      y.remove(y.selectedIndex);
    };

    function insecure() {
      var checkBox = document.getElementById("insecure");
      var text = document.getElementById("insecure_text");
      var select_box = document.getElementById("insecure_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
      }
    };

    function secure() {
      var checkBox = document.getElementById("secure");
      var text = document.getElementById("secure_text");
      var select_box = document.getElementById("secure_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
      }
    };

    function accessible() {
      var checkBox = document.getElementById("accessible");
      var text = document.getElementById("accessible_text");
      var select_box = document.getElementById("accessible_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
      }
    };



    $(document).ready(function () {
      var table = $('#all_host_table').DataTable({});
    });

    function saveData() {
      var secure_check = document.getElementById("secure_ip");
      var unsecure_check = document.getElementById("unsecure_ip");
      var hostip = document.getElementById("hostip").value;
      if (secure_check.checked = true) {
        var secure_proxy = document.getElementById("secure_ip_text").value;
      }
      else {
        var secure_proxy = "";
      }
      if (unsecure_check.checked = true) {
        var unsecure_proxy = document.getElementById("unsecure_ip_text").value;
      }
      else {
        var unsecure_proxy = "";
      }
      var secure_ports_list = document.getElementById("secure_port_list");
      var open_port_list = document.getElementById("open_port_list");

      var sp_string = "";
      var op_string = "";

      var i;

      for (i = 0; i < secure_ports_list.length; i++) {
        sp_string = sp_string + secure_ports_list.options[i].text + "::";
      }
      console.log(secure_ports_list.length)
      for (i = 0; i < open_port_list.length; i++) {
        op_string = op_string + open_port_list.options[i].text + "::";
      }

      $.ajax({

        type: "GET",
        url: document.URL + "/addnewhost",
        data: {
          'host_ip': hostip,
          'secure_ports': sp_string,
          'open_ports': op_string,
          'secure_proxy': secure_proxy,
          'unsecure_proxy': unsecure_proxy
        },
        dataType: 'html',
        success: function (data) {
          if (data) {
            $('#results').html('<div class="container">\
                <div class="alert alert-success alert-dismissible">\
                <button type="button" class="close" data-dismiss="alert">&times;</button>\
                <strong>Success!</strong> Host Added and Scan Initiated!.\
                </div></div>');
          }
          else {
            $('#results').html('<div class="container">\
                <div class="alert alert-danger alert-dismissible">\
                <button type="button" class="close" data-dismiss="alert">&times;</button>\
                <strong>Alert!</strong> Something went wrong!.\
                </div></div>');
          }
        }

      });

    };

  </script>
</body>

</html>