<!DOCTYPE html>
<html lang="en">

<head>
    <title>Port Scanner</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"> -->
    <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
    <link rel="stylesheet"
        href="https://cdnjs.cloudflare.com/ajax/libs/open-iconic/1.1.1/font/css/open-iconic-bootstrap.min.css"
        integrity="sha256-BJ/G+e+y7bQdrYkS2RBTyNfBHpA9IuGaPmf9htub5MQ=" crossorigin="anonymous" />

    <style>
        a {
            outline: 0;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-md bg-primary navbar-dark fixed-top">
        <a class="navbar-brand" href="javascript:void(0)">Port Scanner</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar1">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavbar1">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'login' %}"><span class="oi oi-account-login"></span> Log In
                    </a>
                </li>
            </ul>
        </div>
    </nav><br>
    <br>
    <br>
    <br>
    <div class="container">
        <div class="alert alert-dismissible alert-info">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            <strong>Heads up!</strong> You've been logged out! Please login to continue.
        </div>
    </div>
</body>

</html>