<!doctype html>
<html lang="en">

<head>
  <title>Settings</title>
  <style>
    .invalid {
      color: red;
    }
  </style>
</head>

<body>
  <div class="container col-sm-12 d-flex justify-content-center">
    <div class="card  bg-dark col-sm-7">
      <div class="card-body">
        {% if result %}
        <form>
          <fieldset>
            <legend class="text-center lead">Configure</legend>
            <div class="form-group row">
              <label for="secure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="secure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings()" checked>
                <label for="secure_ip_settings" class="custom-control-label">Specify Secured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="secure_ip_text_settings" placeholder="255.255.255.255:5000"
                value={{result.Secure}}>
            </div>
            <div class="form-group row">
              <label for="unsecure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="unsecure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings1()" checked>
                <label for="unsecure_ip_settings" class="custom-control-label">Specify Unsecured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="unsecure_ip_text_settings" placeholder="255.255.255.255:5000"
                value={{result.Unsecure}}>
            </div>
            <div class="form-group row">
              <label for="threads">Threads</label>
              <input id="threads" type="text" class="form-control" value={{result.threads}}>
            </div>
            <div class="form-group row">
              <label for="timeout">Timeout</label>
              <input id="timeout" type="text" class="form-control" value={{result.timeout}}>
            </div>
            <div class="form-group row">
              <label for="scanfrequency">Scan Frequency</label>
              <input id="scanfrequency" type="text" class="form-control" value={{result.scanfrequency}}>
            </div>
            <div class="form-group row">
              <label for="deleteScansPeriod">Delete Scans After</label>
              <input id="deleteScansPeriod" type="text" class="form-control" value={{result.deleteScansPeriod}}>
            </div>
            <div class="form-group row">
              <a id="save" class="form-control btn btn-primary btn-block" href="javascript:addNewSettings()">Update
                Settings</a>
            </div>
          </fieldset>
        </form>
        {% else %}
        <form>
          <fieldset>
            <legend class="text-center lead">Configure</legend>
            <div class="form-group row">
              <label for="secure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="secure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings()">
                <label for="secure_ip_settings" class="custom-control-label">Specify Secured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="secure_ip_text_settings" placeholder="255.255.255.255:5000"
                disabled>
            </div>
            <div class="form-group row">
              <label for="unsecure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="unsecure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings1()">
                <label for="unsecure_ip_settings" class="custom-control-label">Specify Unsecured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="unsecure_ip_text_settings" placeholder="255.255.255.255:5000"
                disabled>
            </div>
            <div class="form-group row">
              <label for="threads">Threads</label>
              <input id="threads" type="text" class="form-control" value=100>
            </div>
            <div class="form-group row">
              <label for="timeout">Timeout</label>
              <input id="timeout" type="text" class="form-control" value=1>
            </div>
            <div class="form-group row">
              <label for="scanfrequency">Scan Frequency</label>
              <input id="scanfrequency" type="text" class="form-control" placeholder="m:h:d:dM:MY">
            </div>
            <div class="form-group row">
              <label for="deleteScansPeriod">Delete Scans After</label>
              <input id="deleteScansPeriod" type="text" class="form-control" placeholder="E.g. - 2 days/hours/minutes">
            </div>
            <div class="form-group row">
              <a id="save" class="form-control btn btn-primary btn-block" href="javascript:addNewSettings()">Add
                Settings</a>
            </div>
          </fieldset>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    document.getElementById("secure_ip_text_settings").oninput = function (e) {
      if (validateIpAndPort(this.value)) {
        this.className = "form-control is-valid";
        document.getElementById("save").className = "form-control btn btn-primary btn-block";
      } else {
        this.className = "form-control is-invalid";
        document.getElementById("save").className = "form-control btn btn-primary btn-block disabled";
      }
    }

    document.getElementById("unsecure_ip_text_settings").oninput = function (e) {
      if (validateIpAndPort(this.value)) {
        this.className = "form-control is-valid";
        document.getElementById("save").className = "form-control btn btn-primary btn-block";
      } else {
        this.className = "form-control is-invalid";
        document.getElementById("save").className = "form-control btn btn-primary btn-block disabled";
      }
    }

    document.getElementById("scanfrequency").oninput = function (e) {
      if (validateFrequency(this.value)) {
        this.className = "form-control is-valid";
        document.getElementById("save").className = "form-control btn btn-primary btn-block";
      } else {
        this.className = "form-control is-invalid";
        document.getElementById("save").className = "form-control btn btn-primary btn-block disabled";
      }
    }

    function validateFrequency(input) {
      var parts = input.split(":");
      if (parts.length == 5)
        return true;
      else
        return false;
    }

    function validateIpAndPort(input) {
      var parts = input.split(":");
      var ip = parts[0].split(".");
      var port = parts[1];
      return validateNum(port, 1, 65535) && ip.length == 4 && ip.every(function (segment) {
        return validateNum(segment, 0, 255);
      });
    }

    function validateNum(input, min, max) {
      var num = +input;
      return num >= min && num <= max && input === num.toString();
    }

    function addNewSettings() {
      var checkBox = document.getElementById("secure_ip_settings");
      var threads = $("#threads").val();
      var timeout = $("#timeout").val();
      var scanfrequency = $("#scanfrequency").val();
      if (checkBox.checked == false) {
        alert("Please Select the Secure IP")
        return;
      }
      else {
        var text1 = document.getElementById("secure_ip_text_settings").value;
      }
      var checkBox1 = document.getElementById("unsecure_ip_settings");
      if (checkBox1.checked == false) {
        alert("Please Select the Unsecure IP")
        return;
      }
      else {
        var text2 = document.getElementById("unsecure_ip_text_settings").value;
      }
      console.log(document.URL);

      $.ajax({
        type: "GET",
        url: document.URL + "/new_settings",
        data: {
          'secure_proxy': text1,
          'unsecure_proxy': text2,
          'threads': threads,
          'timeout': timeout,
          'scanfrequency': scanfrequency
        },
        dataType: 'html',
        success: function (data) {
          if (data) {
            console.log(document.URL);
            $("#results").html('<div class="container">\
                <div class="alert alert-success alert-dismissible">\
                <button type="button" class="close" data-dismiss="alert">&times;</button>\
                <strong>Success!</strong> Settings saved.\
                </div></div>');
          }
          else {
            $("#results").html('<div class="container">\
                <div class="alert alert-danger alert-dismissible">\
                <button type="button" class="close" data-dismiss="alert">&times;</button>\
                <strong>Oops!</strong> Something went wrong!\
                </div></div>');
          }
        }
      });
    };

    function myFunctionSettings() {
      var checkBox = document.getElementById("secure_ip_settings");
      var text = document.getElementById("secure_ip_text_settings");
      if (checkBox.checked == true) {
        text.disabled = false;
      } else {
        text.disabled = true;
      }
    };

    function myFunctionSettings1() {
      var checkBox = document.getElementById("unsecure_ip_settings");
      var text = document.getElementById("unsecure_ip_text_settings");
      if (checkBox.checked == true) {
        text.disabled = false;
      } else {
        text.disabled = true;
      }
    };

  </script>
</body>

</html>