<!doctype html>
<html lang="en">

<head>
  <title>Settings</title>
  <style>
    .invalid {
      color: red;
    }
  </style>
</head>

<body>
  <div class="container col-sm-12 d-flex justify-content-center">
    <div class="card  bg-dark col-sm-7">
      <div class="card-body">
        {% if result %}
        <form>
          <fieldset>
            <legend class="text-center lead">Configure</legend>
            <div class="form-group row">
              <label for="secure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="secure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings()" checked>
                <label for="secure_ip_settings" class="custom-control-label">Specify Secured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="secure_ip_text_settings" placeholder="255.255.255.255:5000"
                value={{result.Secure}}>
            </div>
            <div class="form-group row">
              <label for="unsecure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="unsecure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings1()" checked>
                <label for="unsecure_ip_settings" class="custom-control-label">Specify Unsecured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="unsecure_ip_text_settings" placeholder="255.255.255.255:5000"
                value={{result.Unsecure}}>
            </div>
            <div class="form-group row">
              <label for="threads">Threads</label>
              <input id="threads" type="text" class="form-control" value={{result.threads}}>
            </div>
            <div class="form-group row">
              <label for="timeout">Timeout</label>
              <input id="timeout" type="text" class="form-control" value={{result.timeout}}>
            </div>
            <div class="form-group row">
              <button id="save" class="form-control btn btn-primary btn-block" onclick="addNewSettings()">Update
                Settings</button>
            </div>
          </fieldset>
        </form>
        {% else %}
        <form>
          <fieldset>
            <legend class="text-center lead">Configure</legend>
            <div class="form-group row">
              <label for="secure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="secure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings()">
                <label for="secure_ip_settings" class="custom-control-label">Specify Secured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="secure_ip_text_settings" placeholder="255.255.255.255:5000"
                disabled>
            </div>
            <div class="form-group row">
              <label for="unsecure_ip_text_settings" class="custom-control custom-checkbox">
                <input type="checkbox" id="unsecure_ip_settings" class="custom-control-input"
                  onclick="myFunctionSettings1()">
                <label for="unsecure_ip_settings" class="custom-control-label">Specify Unsecured Proxy IP:</label>
              </label>
              <input type="text" class="form-control" id="unsecure_ip_text_settings" placeholder="255.255.255.255:5000"
                disabled>
            </div>
            <div class="form-group row">
              <label for="threads">Threads</label>
              <input id="threads" type="text" class="form-control" value=100>
            </div>
            <div class="form-group row">
              <label for="timeout">Timeout</label>
              <input id="timeout" type="text" class="form-control" value=1>
            </div>
            <div class="form-group row">
              <button id="save" class="form-control btn btn-primary btn-block" onclick="addNewSettings()">Update
                Settings</button>
            </div>
          </fieldset>
        </form>
        {% endif %}
      </div>
    </div>
  </div>
  <script>
    document.getElementById("secure_ip_text_settings").oninput = function (e) {
      if (validateIpAndPort(this.value)) {
        this.className = "form-control h-75 is-valid";
        document.getElementById("save").disabled = false;
      } else {
        this.className = "form-control h-75 is-invalid";
        document.getElementById("save").disabled = true;
      }
    }

    document.getElementById("unsecure_ip_text_settings").oninput = function (e) {
      if (validateIpAndPort(this.value)) {
        this.className = "form-control h-75 is-valid";
        document.getElementById("save").disabled = false;
      } else {
        this.className = "form-control h-75 is-invalid";
        document.getElementById("save").disabled = true;
      }
    }


    function validateIpAndPort(input) {
      var parts = input.split(":");
      var ip = parts[0].split(".");
      var port = parts[1];
      return validateNum(port, 1, 65535) && ip.length == 4 && ip.every(function (segment) {
        return validateNum(segment, 0, 255);
      });
    }

    function validateNum(input, min, max) {
      var num = +input;
      return num >= min && num <= max && input === num.toString();
    }

  </script>
</body>

</html>