<!DOCTYPE html>
<html lang="en">

<head>
  <title>View All Hosts</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.19/css/dataTables.bootstrap4.min.css">

</head>

<body>
  <!-- <div id="viewallhosts"></div> -->
  <div class="container">
    <br>
    <div class="row">
      <div class="col-sm-9">
        <table class="table table-hover" id="all_host_table" style="width:100%;">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Host</th>
              <th scope="col">Secure Port</th>
              <th scope="col">Insecure Port</th>
              <th scope="col">Open Port</th>
              <th scope="col">Inaccessible Port</th>
              <th scope="col">Status</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% if result %}
            {% for k, v in result.items %}
            <tr class="table-primary">
              <th scope="row">{{k}}</th>
              <th scope="row">{{v.ip}}</th>
              <td>{{v.secure_ports}}</td>
              <td>{{v.unsecure_ports}}</td>
              <td>{{v.open_ports}}</td>
              <td>{{v.inaccessible}}</td>
              {% if v.status %}
              <td><span class="oi oi-circle-check"></span></td>
              {% else %}
              <td><span class="oi oi-circle-warning"></span></td>
              {% endif %}
              <td>
                <a href="javascript:viewReports('{{v.ip}}')" class="text-white">
                    <span class="badge badge-pill badge-info">View All Reports</span>
                </a>
                <a href="javascript:editHost({{k}})" class="text-white">
                    <span class="badge badge-pill badge-danger">Edit Host</span>
                </a>
              </td>
            </tr>
            {% endfor %}
            {% else %}
            {% for k, v in result_filters.items %}

            <tr class="table-primary">
              <th scope="row">{{k}}</th>
              <th scope="row">{{v.ip}}</th>
              <td>{{v.secure_ports}}</td>
              <td>{{v.unsecure_ports}}</td>
              <td>{{v.open_ports}}</td>
              <td>{{v.inaccessible}}</td>
              <td>{{v.status}}</td>
              <td>
                <a href="javascript:viewReport('{{v.ip}}')" class="text-white">View All Reports</a> |
                <a href="javascript:editHost({{k}})" class="text-white">Edit</a>
              </td>
            </tr>

            {% endfor %}
            {% endif %}
          </tbody>
        </table>
      </div>

      {% if filters %}
      <div class="col-sm-3">
        <form class="p-1">
          <fieldset>
            <legend class="text-center lead">Filters</legend>
            <div class="form-group row">
              <textarea class="form-control" rows="4" name="text" placeholder="IP/Host to filter seprated by (,)"
                id="ips">{{filters.ips}}</textarea>
            </div>
            {% if filters.status_good == "true" %}
            <div class="form-group row text-success custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check1" checked>
              <label class="custom-control-label" for="check1">Status Good</label>
            </div>
            {% else %}
            <div class="form-group row text-success custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check1">
              <label class="custom-control-label" for="check1">Status Good</label>
            </div>
            {% endif %}

            {% if filters.status_bad == "true" %}
            <div class="form-group row text-danger custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check2" checked>
              <label class="custom-control-label" for="check2">Status Bad</label>
            </div>
            {% else %}
            <div class="form-group row text-danger custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check2">
              <label class="custom-control-label" for="check2">Status Bad</label>
            </div>
            {% endif %}
            {% if filters.inaccessible == "true" %}
            <div class="form-group row">
              <label for="inaccessible_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showInaccessible();'
                  id="inaccessible" checked>
                <label class="custom-control-label" for="inaccessible">Inaccessible</label>
              </label>
              <select class="form-control form-control-sm col-8" id="inaccessible_select">
                {% if filters.inaccessible_select == "More Than" %}
                <option class="list-group-item text-white bg-dark" selected>More Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                {% endif %}
                {% if filters.inaccessible_select == "Less Than" %}
                <option class="list-group-item text-white bg-dark" selected>Less Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                {% endif %}
                {% if filters.inaccessible_select == "Equal To" %}
                <option class="list-group-item text-white bg-dark" selected>Equal To
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
                {% endif %}
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="inaccessible_text"
                value={{filters.inaccessible_text}}>
            </div>
            {% else %}
            <div class="form-group row">
              <label for="inaccessible_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showInaccessible();'
                  id="inaccessible">
                <label class="custom-control-label" for="inaccessible">Inaccessible</label>
              </label>
              <select class="form-control form-control-sm col-8" id="inaccessible_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="inaccessible_text" disabled
                hidden>
            </div>
            {% endif %}
            {% if filters.insecure == "true" %}
            <div class="form-group row">
              <label for="insecure_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showInsecure();' id="insecure"
                  checked>
                <label class="custom-control-label" for="insecure">Insecure</label>
              </label>
              <select class="form-control form-control-sm col-8" id="insecure_select">
                {% if filters.insecure_select == "More Than" %}
                <option class="list-group-item text-white bg-dark" selected>More Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                {% endif %}
                {% if filters.insecure_select == "Less Than" %}
                <option class="list-group-item text-white bg-dark" selected>Less Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                {% endif %}
                {% if filters.insecure_select == "Equal To" %}
                <option class="list-group-item text-white bg-dark" selected>Equal To
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
                {% endif %}
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="insecure_text"
                value={{filters.insecure_text}}>
            </div>
            {% else %}
            <div class="form-group row">
              <label for="insecure_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showInsecure();' id="insecure">
                <label class="custom-control-label" for="insecure">Insecure</label>
              </label>
              <select class="form-control form-control-sm col-8" id="insecure_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="insecure_text" disabled hidden>
            </div>
            {% endif %}
            {% if filters.secure == "true" %}
            <div class="form-group row">
              <label for="secure_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showSecure();' id="secure"
                  checked>
                <label class="custom-control-label" for="secure">Secure</label>
              </label>
              <select class="form-control form-control-sm col-8" id="secure_select">
                {% if filters.secure_select == "More Than" %}
                <option class="list-group-item text-white bg-dark" selected>More Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                {% endif %}
                {% if filters.secure_select == "Less Than" %}
                <option class="list-group-item text-white bg-dark" selected>Less Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                {% endif %}
                {% if filters.secure_select == "Equal To" %}
                <option class="list-group-item text-white bg-dark" selected>Equal To
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
                {% endif %}
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="secure_text"
                value={{filters.secure_text}}>
            </div>
            {% else %}
            <div class="form-group row">
              <label for="secure_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showSecure();' id="secure">
                <label class="custom-control-label" for="secure">Secure</label>
              </label>
              <select class="form-control form-control-sm col-8" id="secure_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="secure_text" disabled hidden>
            </div>
            {% endif %}
            {% if filters.accessible == "true" %}
            <div class="form-group row">
              <label for="accessible_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showAccessible();'
                  id="accessible" checked>
                <label class="custom-control-label" for="accessible">Accessible</label>
              </label>
              <select class="form-control form-control-sm col-8" id="accessible_select">
                {% if filters.accessible_select == "More Than" %}
                <option class="list-group-item text-white bg-dark" selected>More Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                {% endif %}
                {% if filters.accessible_select == "Less Than" %}
                <option class="list-group-item text-white bg-dark" selected>Less Than
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                {% endif %}
                {% if filters.accessible_select == "Equal To" %}
                <option class="list-group-item text-white bg-dark" selected>Equal To
                </option>
                {% else %}
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
                {% endif %}
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="accessible_text"
                value={{filters.accessible_text}}>
            </div>
            {% else %}
            <div class="form-group row">
              <label for="accessible_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showAccessible();'
                  id="accessible">
                <label class="custom-control-label" for="accessible">Accessible</label>
              </label>
              <select class="form-control form-control-sm col-8" id="accessible_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="accessible_text" disabled
                hidden>
            </div>
            {% endif %}
            <div class="form-group row d-flex justify-content-center">
              <a class="btn btn-primary btn-block" href="javascript:filterResults();">Apply
                Filter</a>
            </div>
          </fieldset>
        </form>
      </div>
      {% else %}
      <div class="col-sm-3">
        <form class="p-1">
          <fieldset>
            <legend class="text-center lead">Filters</legend>
            <div class="form-group row">
              <textarea class="form-control" rows="4" name="text" placeholder="IP/Host to filter seprated by (,)"
                id="ips"></textarea>
            </div>
            <div class="form-group row text-success custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check1">
              <label class="custom-control-label" for="check1">Status Good</label>
            </div>
            <div class="form-group row text-danger custom-control custom-checkbox">
              <input type="checkbox" class="custom-control-input" id="check2">
              <label class="custom-control-label" for="check2">Status Bad</label>
            </div>
            <div class="form-group row">
              <label for="inaccessible_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showInaccessible();'
                  id="inaccessible">
                <label class="custom-control-label" for="inaccessible">Inaccessible</label>
              </label>
              <select class="form-control form-control-sm col-8" id="inaccessible_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="inaccessible_text" disabled
                hidden>
            </div>

            <div class="form-group row">
              <label for="insecure_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showInsecure();' id="insecure">
                <label class="custom-control-label" for="insecure">Insecure</label>
              </label>
              <select class="form-control form-control-sm col-8" id="insecure_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="insecure_text" disabled hidden>
            </div>


            <div class="form-group row">
              <label for="secure_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showSecure();' id="secure">
                <label class="custom-control-label" for="secure">Secure</label>
              </label>
              <select class="form-control form-control-sm col-8" id="secure_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="secure_text" disabled hidden>
            </div>


            <div class="form-group row">
              <label for="accessible_select" class="custom-control custom-checkbox col-12">
                <input type="checkbox" class="custom-control-input" onclick='javascript:showAccessible();'
                  id="accessible">
                <label class="custom-control-label" for="accessible">Accessible</label>
              </label>
              <select class="form-control form-control-sm col-8" id="accessible_select" disabled hidden>
                <option class="list-group-item text-white bg-dark">More Than
                </option>
                <option class="list-group-item text-white bg-dark">Less Than
                </option>
                <option class="list-group-item text-white bg-dark">Equal To
                </option>
              </select>
              <input class="form-control form-control-sm offset-1 col-3" type="text" id="accessible_text" disabled
                hidden>
            </div>
            <div class="form-group row d-flex justify-content-center">
              <a class="btn btn-primary btn-block" href="javascript:filterResults();">Apply
                Filter</a>
            </div>
          </fieldset>
        </form>
      </div>
      {% endif %}
    </div>
  </div>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.10.19/js/dataTables.bootstrap4.min.js"></script>
  <script>

    $(document).ready(function () {
      var table = $('#all_host_table').DataTable({ "scrollX": true });
    });

    function editHost(host_id) {

      $.ajax({
        type: 'GET',
        url: document.URL + '/editHost',
        data: {
          'host_id': host_id
        },
        dataType: 'html',
        success: function (data) {
          if (data) {
            $("#results").html(data);
            $('#data-toggle-1').dropdown();
            $('#data-toggle-2').dropdown();
          } else {
            $('#results').html('<div class="container">\
                      <div class="alert alert-danger alert-dismissible">\
                      <button type="button" class="close" data-dismiss="alert">&times;</button>\
                      <strong>Alert!</strong> Something went wrong!.\
                      </div></div>');
          }
        }
      });
    };

    function viewReports(ip) {

      $.ajax({
        type: 'GET',
        url: document.URL + '/viewReports',
        data: {
          'ip': ip
        },
        dataType: 'html',
        success: function (data) {
          if (data) {
            $("#results").html(data);
          } else {
            $('#results').html('<div class="container">\
                <div class="alert alert-danger alert-dismissible">\
                <button type="button" class="close" data-dismiss="alert">&times;</button>\
                <strong>Alert!</strong> Something went wrong!.\
                </div></div>');
          }
        }
      });
    };
    function viewReport(host_id) {

$.ajax({
  type: 'GET',
  url: document.URL + '/viewReport',
  data: {
    'host_id': host_id
  },
  dataType: 'html',
  success: function (data) {
    if (data) {
      $("#results").html(data);
    } else {
      $('#results').html('<div class="container">\
          <div class="alert alert-danger alert-dismissible">\
          <button type="button" class="close" data-dismiss="alert">&times;</button>\
          <strong>Alert!</strong> Something went wrong!.\
          </div></div>');
    }
  }
});
};
    function showInaccessible() {
      var checkBox = document.getElementById("inaccessible");
      var text = document.getElementById("inaccessible_text");
      var select_box = document.getElementById("inaccessible_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
        text.hidden = false;
        select_box.hidden = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
        text.hidden = true;
        select_box.hidden = true;
      }
    };

    function showInsecure() {
      var checkBox = document.getElementById("insecure");
      var text = document.getElementById("insecure_text");
      var select_box = document.getElementById("insecure_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
        text.hidden = false;
        select_box.hidden = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
        text.hidden = true;
        select_box.hidden = true;
      }
    };

    function showSecure() {
      var checkBox = document.getElementById("secure");
      var text = document.getElementById("secure_text");
      var select_box = document.getElementById("secure_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
        text.hidden = false;
        select_box.hidden = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
        text.hidden = true;
        select_box.hidden = true;
      }
    };

    function showAccessible() {
      var checkBox = document.getElementById("accessible");
      var text = document.getElementById("accessible_text");
      var select_box = document.getElementById("accessible_select")
      if (checkBox.checked == true) {
        text.disabled = false;
        select_box.disabled = false;
        text.hidden = false;
        select_box.hidden = false;
      } else {
        text.disabled = true;
        select_box.disabled = true;
        text.hidden = true;
        select_box.hidden = true;
      }
    };

    function filterResults(result) {
      var ips = document.getElementById("ips").value;
      var status_good = "false";
      var status_bad = "false";
      var inaccessible = "";
      var accessible = "";
      var insecure = "";
      var secure = "";
      if (document.getElementById("check1").checked == true) {
        status_good = 'true';
      }
      if (document.getElementById("check2").checked == true) {
        status_bad = 'true';
      }
      if (document.getElementById("inaccessible").checked == true) {
        inaccessible = document.getElementById("inaccessible_text").value;
        if (inaccessible.length > 0) {
          var value1 = parseInt(inaccessible, 10);
          if (value1 >= 0 && value1 <= 65536) {
            inaccessible = document.getElementById("inaccessible_select").value + ":" + document.getElementById("inaccessible_text").value + ":" + "true";

          }
          else {
            alert("Wrong Value");
          }
        }
        else {
          alert("Inaccessible field can't be Null");
        }
      }
      if (document.getElementById("insecure").checked == true) {
        insecure = document.getElementById("insecure_text").value;
        if (insecure.length > 0) {
          var value1 = parseInt(insecure, 10);
          if (value1 >= 0 && value1 <= 65536) {
            insecure = document.getElementById("insecure_select").value + ":" + document.getElementById("insecure_text").value + ":" + "true";

          }
          else {
            alert("Wrong Value");
          }
        }
        else {
          alert("Insecure field can't be Null");
        }
      }
      if (document.getElementById("accessible").checked == true) {
        accessible = document.getElementById("accessible_text").value;
        if (accessible.length > 0) {
          var value1 = parseInt(accessible, 10);
          if (value1 >= 0 && value1 <= 65536) {
            accessible = document.getElementById("accessible_select").value + ":" + document.getElementById("accessible_text").value + ":" + "true";

          }
          else {
            alert("Wrong Value");
          }
        }
        else {
          alert("Accessible field can't be Null");
        }
      }

      if (document.getElementById("secure").checked == true) {
        secure = document.getElementById("secure_text").value;
        if (secure.length > 0) {
          var value1 = parseInt(secure, 10);
          if (value1 >= 0 && value1 <= 65536) {
            secure = document.getElementById("secure_select").value + ":" + document.getElementById("secure_text").value + ":" + "true";

          }
          else {
            alert("Wrong Value");
          }
        }
        else {
          alert("Secure field can't be Null");
        }
      }
      $.ajax({
        type: "GET",
        url: document.URL + "/add_filters",
        dataType: 'html',
        data: {
          "ips": ips,
          "status_good": status_good,
          "status_bad": status_bad,
          "inaccessible": inaccessible,
          "insecure": insecure,
          "secure": secure,
          "accessible": accessible
        },
        success: function (data) {
          if (data) {
            console.log(document.URL);
            $("#results").html(data);
          }
          else {
            $("#results").html('<div class="container">\
                        <div class="alert alert-danger alert-dismissible">\
                        <button type="button" class="close" data-dismiss="alert">&times;</button>\
                        <strong>Oops!</strong> Something went wrong!\
                        </div></div>');
          }
        }
      });
    }


  </script>
</body>


</html>